In [1]:
pwd

'/Users/wizcounsel/Documents/MachineLearning/pandas'

## libraries needed

### lxml, html5lib, BeautifulSoup4

In [2]:
import numpy as np
import pandas as pd

In [3]:
pd.read_csv('test.csv')

   1A  1B  1C  1D
0  2A  2B  2C  2D
1  3A  3B  3C  3D
2  4A  4B  4C  4D

### write data in csv

In [4]:
myFrame = pd.read_csv('test.csv')

In [5]:
myFrame.to_csv('output.csv')

In [6]:
pd.read_csv('output.csv')

   Unnamed: 0  1A  1B  1C  1D
0           0  2A  2B  2C  2D
1           1  3A  3B  3C  3D
2           2  4A  4B  4C  4D

In [8]:
myFrame.to_csv('output.csv', index=False)

In [9]:
pd.read_csv('output.csv')

   1A  1B  1C  1D
0  2A  2B  2C  2D
1  3A  3B  3C  3D
2  4A  4B  4C  4D

In [10]:
pd.read_excel('test.xlsx')

   1A  1B  1C  1D
0  2A  2B  2C  2D
1  3A  3B  3C  3D
2  4A  4B  4C  4D

In [11]:
pd.read_excel('test.xlsx', sheet_name='Sheet1')

   1A  1B  1C  1D
0  2A  2B  2C  2D
1  3A  3B  3C  3D
2  4A  4B  4C  4D